<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863171498998-v86j38ijlnb7rseuu55h1p825e4bftcb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863171498998-v86j38ijlnb7rseuu55h1p825e4bftcb</string>
	<key>API_KEY</key>
	<string>AIzaSyAZe88hwCtxtM7DnLXLgPyHKsmaj6fxems</string>
	<key>GCM_SENDER_ID</key>
	<string>863171498998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expense.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>expense-1cc4e</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-1cc4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863171498998:ios:64f67f419a15bf1b242dd7</string>
</dict>
</plist>